.create-board-modal {

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
    border: none;
    background-color: white;
  }
}

.css-0 {
  height: 100%;
  border: none;
}