.ticket-form {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  height: 80%;

  &__right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    &__title-input {
      font-size: 3rem;
      border: .5px solid grey;
      margin-bottom: 5rem;
    }
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;

    &__element {
      display: flex;
      justify-content: center;
      gap: 1rem;

      & span {
        font-size: 1.8rem;
        font-weight: 500;
        width: 10rem;
      }

      &__name {
        font-size: 2rem;
      }

      &__select {
        display: flex;
        flex-direction: column;

      }
    }
  }

  &__submit-button {
    position: absolute;
    top: 85%;
    left: 80%;
    width: 10rem;
    height: 3rem;
    background-color: $blue;
    color: white;
    border: none;
    cursor: pointer;
  }

  &__edit-description {
    display: flex;
    position: absolute;
    top: 85%;
    left: 10%;

    &__save-button {
      border: none;
      width: 11rem;
      font-size: 1.7rem;
      cursor: pointer;
      background-color: #F4F5F7;
    }

    &__cancel-button {
      border: none;
      width: 11rem;
      font-size: 1.7rem;
      cursor: pointer;
      background-color: #F4F5F7;
    }
  }
}


.label-button {
  border: none;
  width: 15rem;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.assignee-button {
  border: none;
  width: 15rem;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.label-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 51.5%;
  left: 80%;
  width: 15rem;
  height: 8rem;
  background-color: #F4F5F7;
  border: none;

  & span {
    width: 10rem;
    color: black;
    cursor: pointer;
    padding: .5rem;
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.type-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 68.5%;
  left: 80%;
  width: 15rem;
  height: 8rem;
  background-color: #F4F5F7;

  & span {
    width: 15rem;
    color: black;
    cursor: pointer;
    padding: .5rem;
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.type-button {
  border: none;
  min-width: 15rem;
  width: fit-content;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.status-button {
  border: none;
  width: 15rem;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.status-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 15rem;
  top: 60%;
  left: 80%;
  height: 10rem;
  background-color: #F4F5F7;

  & span {
    width: 10rem;
    color: black;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
    padding: .5rem;

  }
}

.assigned-user {
  display: flex;
  background-color: #F4F5F7;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  padding: .5rem;
}

.users-list {
  position: absolute;
  top: 43%;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  overflow-y: scroll;
}