@import '../sharedStyles/utils/variables';

.desktop-nav-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  height: 100vh;
  gap: 5rem;
  color: white;
  background-color: $light-blue;

  &__upper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7%;

    &__title {
      font-size: 2rem;
      font-weight: 700;
      cursor: pointer;
      color: white;
    }
  }

  &__lower-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;


    &__profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
      height: 20rem;

      &__picture {

        & img {
          border-radius: 50%;
          width: 12rem;
          height: 12rem;
          object-fit: cover;
          border: 2px solid white;
          box-shadow: 0 0rem 1rem white;
        }
      }

      &__name {
        font-size: 2rem;
        color: white;
        font-weight: 500;
      }

      &__mail-address {
        color: white;
        font-size: 1.5rem;

      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &__element {
        transition: .2s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0.5rem 2rem #04030333;
        gap: .5rem;
        width: 20rem;
        height: 5rem;
        border-radius: 2rem;
        background-color: $white;

        &__name {
          font-size: 2.5rem;
          color: black;
        }

        & svg {
          color: black;
        }

        &:hover {
          transform: translateY(-.4rem) scale(1.03);
          transition: 0.2s all;
          box-shadow: 0.5rem 1rem 2rem #04030333;
          color: $blue;
        }

        &:active {
          transform: translateY(0) scale(1);
          box-shadow: 0 0.5rem 2rem #04030333;
        }
      }
    }
  }
}