.create-ticket-modal {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85rem;
    height: 50rem;
    border-radius: 1rem;
    background-color: white;
  }

  &__create-button {
    width: 20rem;
    height: 3rem;
    color: white;
    font-weight: 550;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: $light-blue;
    border: none;
    border-radius: 2rem;
  }
}

.css-0 {
  height: 100%;
}