.board-list-page {
  width: 100%;
  height: 100%;
}
.board-list-page__wrapper {
  display: flex;
}

.dashboard-page {
  height: 100%;
  width: 100%;
}
.dashboard-page__wrapper {
  display: flex;
}
.dashboard-page__section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  height: 30rem;
}
.dashboard-page__section__progress-percentage {
  display: flex;
}
.dashboard-page__section__progress-percentage__to-do {
  position: absolute;
  right: 95rem;
  top: 60rem;
}
.dashboard-page__section__progress-percentage__to-do p {
  position: absolute;
  font-size: 2.5rem;
  top: -12rem;
  left: -25rem;
}
.dashboard-page__section__progress-percentage__in-progress {
  position: absolute;
  right: 60rem;
  top: 60rem;
}
.dashboard-page__section__progress-percentage__in-progress p {
  position: absolute;
  font-size: 2.5rem;
  top: -12rem;
  left: -27rem;
}
.dashboard-page__section__progress-percentage__done {
  position: absolute;
  right: 20rem;
  top: 60rem;
}
.dashboard-page__section__progress-percentage__done p {
  position: absolute;
  font-size: 2.5rem;
  top: -12rem;
  left: -24rem;
}
.dashboard-page__section__element {
  background-color: #F4F5F7;
  width: 25rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
}
.dashboard-page__section__element__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.dashboard-page__section__element__info__number {
  font-size: 3rem;
}
.dashboard-page__section__element__info__name {
  font-size: 1.5rem;
}
.dashboard-page__section__element__icon {
  padding: 0.5rem;
}
.dashboard-page__section__element__icon svg {
  height: 3rem;
  width: 3rem;
}

.css-1idz92c-MuiCircularProgress-svg {
  position: absolute;
  right: -9rem;
  bottom: 15rem;
  width: 20rem;
  height: 20rem;
}

.circular-progress-percentage {
  position: absolute;
  bottom: 1rem;
  right: 21rem;
  font-size: 4rem;
}

.tickets-page {
  height: 100%;
  width: 100%;
}
.tickets-page__wrapper {
  display: flex;
}

.board-page {
  width: 100%;
  height: 100%;
}
.board-page__wrapper {
  display: flex;
}

.activity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.activity p {
  font-size: 5rem;
}

.create-board-modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  height: 50rem;
  border-radius: 1rem;
  border: 1px solid grey;
  background-color: white;
}

.css-0 {
  height: 100%;
}

.boards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.boards-list-wrapper {
  overflow-y: scroll;
  padding: 5rem 0;
  display: flex;
  gap: 5rem;
  width: 100%;
  height: 90%;
}
.boards-list-wrapper::-webkit-scrollbar {
  width: 10px;
}
.boards-list__board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.desktop-nav-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  height: 100vh;
  gap: 5rem;
  border-right: 1px solid grey;
}
.desktop-nav-bar__upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7%;
  border-bottom: 1px solid grey;
}
.desktop-nav-bar__upper-section__title {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
.desktop-nav-bar__lower-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 90%;
}
.desktop-nav-bar__lower-section__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 20rem;
}
.desktop-nav-bar__lower-section__profile__picture img {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}
.desktop-nav-bar__lower-section__profile__name {
  font-size: 2rem;
}
.desktop-nav-bar__lower-section__profile__mail-address {
  color: grey;
  font-size: 1.5rem;
}
.desktop-nav-bar__lower-section__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.desktop-nav-bar__lower-section__links__element {
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.desktop-nav-bar__lower-section__links__element__name {
  font-size: 2.5rem;
}
.desktop-nav-bar__lower-section__links__element:hover {
  transform: translateX(0.4rem);
  color: #054DA7;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6.7rem;
  border-bottom: 0.1px solid grey;
}
.header__greet {
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  width: 30rem;
}
.header__search-bar {
  margin: 2rem;
}
.header__search-bar button {
  cursor: pointer;
}

.tickets {
  height: 100%;
  width: 100%;
}
.tickets__categories {
  display: flex;
  justify-content: center;
  gap: 10rem;
  width: 100%;
}
.tickets__categories__category__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #F4F5F7;
  width: 25rem;
  height: 5rem;
}
.tickets__categories__category__info__name {
  font-size: 1.8rem;
}
.tickets__categories__category__info__no-of-tickets {
  font-size: 1.8rem;
}
.tickets__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #F4F5F7;
}
.tickets__list__ticket {
  cursor: pointer;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
  height: 5rem;
  background-color: white;
}
.tickets__list__ticket__right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.tickets__list__ticket__right-side__name {
  font-size: 1.4rem;
}
.tickets__list__ticket__left-side {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}
.tickets__list__ticket__left-side__status {
  font-size: 1.3rem;
}
.tickets__list__ticket__left-side__type {
  font-size: 1.3rem;
}
.tickets__ticket-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90rem;
  height: 50rem;
  border-radius: 1rem;
  background-color: white;
  border: 5px solid grey;
}
.tickets__ticket-modal__right-side {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 10rem;
}
.tickets__ticket-modal__right-side__title {
  font-size: 4rem;
}
.tickets__ticket-modal__right-side__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
}
.tickets__ticket-modal__right-side__description p {
  font-size: 2rem;
}
.tickets__ticket-modal__right-side__description span {
  font-size: 2.3rem;
  font-weight: 500;
}
.tickets__ticket-modal__left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  width: 30%;
  gap: 2rem;
}
.tickets__ticket-modal__left-side__element {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.tickets__ticket-modal__left-side__element span {
  font-size: 1.8rem;
  font-weight: 500;
}
.tickets__ticket-modal__left-side__element__name {
  font-size: 1.8rem;
}

.tickets-box {
  display: flex;
  justify-content: space-between;
}

.MuiBox-root {
  width: 100% !important;
}

.css-12dwc04-JoyTextarea-root {
  font-size: 1.5rem !important;
  min-width: 50rem !important;
}

.css-1iuj8d9 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  margin: 1rem;
  border: 0.5px solid grey;
  border-radius: 1rem;
}
.search-bar input {
  font-size: 2rem;
  border-radius: 1rem;
}
.search-bar svg {
  width: 2rem;
  height: 2rem;
}

.board-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.board-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 0.3rem;
}
.board-form form input {
  margin-bottom: 1rem;
}

.auth-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: #f3f5f7;
}
.auth-form__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.auth-form__title-container__title {
  font-size: 3rem;
  font-weight: 600;
}
.auth-form__title-container__description {
  font-size: 1.5rem;
  width: 30rem;
}
.auth-form__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 60rem;
  height: fit-content;
  padding: 2rem;
  min-height: 30rem;
  gap: 3rem;
  box-shadow: 0 0.5rem 2rem rgba(4, 3, 3, 0.2);
  background: rgba(255, 255, 255, 0.6);
}
.auth-form__form h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #5d8bf4;
}
.auth-form__form__input {
  text-align: center;
  width: 20rem;
  height: 4rem;
  background-color: rgba(93, 139, 244, 0.5019607843);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
}
.auth-form__form__input::placeholder {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.auth-form__form__input ::-webkit-input-placeholder {
  text-align: center;
}
.auth-form__form__input :-moz-placeholder {
  text-align: center;
}
.auth-form__form__input:focus {
  outline: none;
}
.auth-form__form__input:focus::placeholder {
  color: transparent;
}
.auth-form__form__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.auth-form__form__button p {
  color: #5d8bf4;
  font-size: 1.2rem;
}
.auth-form__form__button p a {
  color: #5d8bf4;
  font-size: 1.2rem;
}
.auth-form__form__button__submit-button {
  width: 10rem;
  height: 3.5rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  background: rgba(0, 200, 151, 0.5019607843);
}

.ticket-form {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  height: 80%;
}
.ticket-form__right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.ticket-form__right-side__title-input {
  font-size: 3rem;
  border: 0.5px solid grey;
  margin-bottom: 5rem;
}
.ticket-form__left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}
.ticket-form__left-side__element {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.ticket-form__left-side__element span {
  font-size: 1.8rem;
  font-weight: 500;
  width: 10rem;
}
.ticket-form__left-side__element__name {
  font-size: 2rem;
}
.ticket-form__left-side__element__select {
  display: flex;
  flex-direction: column;
}
.ticket-form__submit-button {
  position: absolute;
  top: 85%;
  left: 80%;
  width: 10rem;
  height: 3rem;
  background-color: #054DA7;
  color: white;
  border: none;
  cursor: pointer;
}
.ticket-form__edit-description {
  display: flex;
  position: absolute;
  top: 85%;
  left: 10%;
}
.ticket-form__edit-description__save-button {
  border: none;
  width: 11rem;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}
.ticket-form__edit-description__cancel-button {
  border: none;
  width: 11rem;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.label-button {
  border: none;
  width: 15rem;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.assignee-button {
  border: none;
  width: 15rem;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.label-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 51.5%;
  left: 80%;
  width: 15rem;
  height: 8rem;
  background-color: #F4F5F7;
  border: none;
}
.label-options span {
  width: 10rem;
  color: black;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.type-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 68.5%;
  left: 80%;
  width: 15rem;
  height: 8rem;
  background-color: #F4F5F7;
}
.type-options span {
  width: 15rem;
  color: black;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.type-button {
  border: none;
  min-width: 15rem;
  width: fit-content;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.status-button {
  border: none;
  width: 15rem;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #F4F5F7;
}

.status-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 15rem;
  top: 60%;
  left: 80%;
  height: 10rem;
  background-color: #F4F5F7;
}
.status-options span {
  width: 10rem;
  color: black;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.assigned-user {
  display: flex;
  background-color: #F4F5F7;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.users-list {
  position: absolute;
  top: 43%;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  overflow-y: scroll;
}

.create-ticket-modal {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}
.create-ticket-modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85rem;
  height: 50rem;
  border-radius: 1rem;
  border: 1px solid grey;
  background-color: white;
}
.create-ticket-modal__create-button {
  width: 20rem;
  height: 3rem;
  color: #343434;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 2rem;
}

.css-0 {
  height: 100%;
}

.search-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  height: 50rem;
  border-radius: 1rem;
  border: 1px solid grey;
  background-color: white;
}
.search-modal__categories {
  display: flex;
  align-items: center;
  height: 15%;
  width: 100%;
}
.search-modal__categories__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.search-modal__categories__element:hover {
  background-color: #f3f3f3;
}
.search-modal__categories__element__is-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: #f3f3f3;
}
.search-modal__search-bar {
  display: flex;
  justify-content: center;
}
.search-modal__search-bar input {
  width: 90%;
  font-size: 2rem;
  box-sizing: border-box;
}
.search-modal__search-bar input:focus {
  border: 1px solid red;
}
.search-modal__results {
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 90%;
  gap: 1.5rem;
  overflow: hidden;
  overflow-y: scroll;
}
.search-modal__results__wrapper {
  display: flex;
  height: 40rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 90%;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  padding: 1.5rem;
}
.element:hover {
  background-color: #f3f3f3;
}
.element__name {
  font-size: 2rem;
}
.element__provenance {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.MuiBox-root {
  width: 70rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 10px;
  font-family: "Chillax", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  box-sizing: content-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=all.css.map */
